<div class="row homepage-grid p-t text-center" style="height: 460px; display: none">
    <div class="col-sm-2"></div>
    <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6 text-left">
        <ul>
            <li>
                <a href="http://www.drie.co">
                    GoLang</a>
            </li>
            <li>
                <a href="https://push.drie.co/">
                    Java
                </a>
            </li>
            <li>
                <a href="https://push.drie.co/">
                    Node
                </a>
            </li>
            <li>
                <a href="https://push.drie.co/">
                    PHP
                </a>
            </li>
            <li>
                <a href="https://push.drie.co/">
                    Ruby
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <%= image_tag("36cybersecurity128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'padding: 10px 0;') %>
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4 text-left">
        <h5>Ruby on Rails</h5>
        <h5>Deploy using Ruby on Rails</h5>
        <p class="text-muted">The drie specific files are .buildpacks which tells us how to build your app</p>
        <a class="btn btn-primary" href="#">Run Ruby app</a>
    </div>

    <div class="col-sm-2"></div>

    <div class="col-sm-8">
        <dl id="simple-gallery">
            <dd><%= image_tag("ruby.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
                <dt tabindex="1"><%= image_tag("golang.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
                    <dd><%= image_tag("ruby.png", alt: 'drie.co', class: 'homepage-grid-icon') %>Westminster Bridge at dusk, London
                        <dt tabindex="2"><%= image_tag("ruby.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
                            <dd><%= image_tag("lang.png", alt: 'drie.co', class: 'homepage-grid-icon') %>The Eiffel tower, Paris
                                <dt tabindex="3"><%= image_tag("php.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
                                    <dd><%= image_tag("lang.png", alt: 'drie.co', class: 'homepage-grid-icon') %>Golden Gate bridge at sunset, San Francisco
                                    </dl>
                                </div>
