<div class="panel panel-default" style="background-color: #f3f3f3; color: black; height: 260px" ">
    <div class="panel-body text-center">
        <div class="panel-content">
            <h1 class="m-t-sm col-md-12">Try deploying your apps</h1>
            <h5 class="m-b-sm col-md-12 ">drie supports the below languages so you can manage your code and deploy securely</h5>
        </div>
        <div class="m-b-sm m-t-sm panel-actions">
            <%= image_tag("golang.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
            <%= image_tag("java.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
            <%= image_tag("node.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
            <%= image_tag("php.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
            <%= image_tag("ruby.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
        </div>

        <%= render "languages0" %>
    </div>
</div>
