<div class="row homepage-grid p-t text-center">
    <div class="page-header icons">
        <h1 class="text-center">Try deploying your apps</h1>
        <%= link_to image_tag("java.png", alt: 'drie.co', class: 'homepage-grid-icon'), root_path %>
        <%= link_to image_tag("node.png", alt: 'drie.co', class: 'homepage-grid-icon'), root_path %>
        <%= link_to image_tag("php.png", alt: 'drie.co', class: 'homepage-grid-icon'), root_path %>
        <%= link_to image_tag("ruby.png", alt: 'drie.co', class: 'homepage-grid-icon'), root_path %>
        <%= link_to image_tag("golang.png", alt: 'drie.co', class: 'homepage-grid-icon'), root_path %>
    </div>
    <div class="col-sm-6">
        <ul>
            <li>
                <a href="./our_team.html">Ruby on rails</a>
            </li>
            <li>
                <a href="./our_team.html">PHP</a>
            </li>
            <li>
                <a href="./our_team.html">Node JS</a>
            </li>
            <li>
                <a href="./our_team.html">Java</a>
            </li>
            <li>
                <a href="./our_team.html">Go Lang</a>
            </li>

        </ul>

    </div>

    <div class="col-sm-5 col-sm-offset-1">

        <%= link_to image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon'), root_path %>
        <h3>
            <strong>How drie works</strong>
        </h3>
        <h4 class="m-b-md">Give yourself the security of privately managed infrastructure with the cost savings, ease of development and deplotment of the public cloud.</h4>
        <a class="btn btn-primary" target="_blank" href="https://bootstrap-themes.github.io/dashboard/docs/">Play video</a>
    </div>

</div>
