<%= render "shared/header" %>
<%= render "shared/menu" %>
  <body>
    <div id="wrap">
        <br><br>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
      
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">

               <%= link_to image_tag("cylon.jpg", width: '100', height: '100', alt: 'drie.co', class: 'img-circle', :style=> "padding-top: 10px; padding-bottom: 10px; margin-left: 10px;"), root_path %>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>drie joins Cyber London’s cyber security accelerator</h3>
              <div class="row">
                <div class="col-xs-9">
                  <p>London, UK – (Sep 20th, 2016) - drie announced its selection from 100s of applications to participate in Cyber London’s (CyLon) cyber security accelerator.</p>

<p>drie's service enables organisations to move their applications into the cloud without compromising on security in minutes rather than weeks.  CyLon will provide drie with introductions to help them roll out their service to more companies over the coming months and mentoring to scale their business.</p>

<p>drie, a web application platform made from the best bits of AWS glued together, in a 14-week programme, drie will work with cyber security specialists on all areas of their business. drie as a product has come out of HMRC and the goal is to make it easy for any business as part of their cyber security strategy to be able to use AWS  for developing new applications that need to go live quickly and securely.  In addition to training, mentorship and office space, the team will receive a £15,000 cash investment.</p>
 
<p>Kalbir Sohi, CEO of drie, said: “We are delighted that we have been selected for the CyLon accelerator. It will provide us with a fantastic platform to grow our business into a leading global cyber security provider whilst and connect us with key industry players and other innovators in the space. We are very excited to starting our journey with CyLon.”</p>
 
 
<p>About drie
drie is a platform as a service that glues together the best bits of Amazon Web Services (AWS) to meet security best practice to implement a repeatable, effective baseline security for our customers. We give companies the ability to run services on Amazon Web Services (AWS) in minutes with security built in. Organisations can build, deploy and run code without the costs and staffing levels required to build and maintain complex infrastructure. drie is disruptive as organisations will massively reduce the need to hire expensive “devops” contractors to build cloud-based services.</p>
 
 
<p>Press contact</p>
<p>Ulrike Eder</p>
<p>ulrike@drie.co</p>
                  
              
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <!--/stories-->
          

        </div>
      </div>
                                                                                       
                                                    
                                                      
    </div><!--/col-12-->
  </div>
</div>
                                                
                                                                            

              
        <%= render "shared/footer" %>
    </div>
    <%= render "hubspot" %>
    </body>
</html>