
<!doctype html>
<html>
<head>

  <!-- EXPERIMENT A2 tracking code -->
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='108454052-4',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->

  <!-- General Head Content -->
  <!-- meta tags -->
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

<meta name="description" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-site-verification" content="4--Yv8-XVyrl4hAM2ceeBXt8H8iiI_3Ms3vDSIV5xN0" />


<!-- title tag-->
<title>
  drie | Secure platform as a service for AWS
</title>

<!-- search engine -->
<link rel="drie" href="https://drie.co/" />

<!-- open graph -->


  <meta property="og:title" content="drie" />
  <meta property="og:type" content="website" />



<meta property="og:description" content="Get AWS security best practice in minutes | drie have built a platform which enables small teams to deploy applications onto AWS in minutes without cutting security corners." />

<meta property="og:url" content="http://themes.getbootstrap.com/" />
<meta property="og:site_name" content="Bootstrap Themes" />




<!-- styles -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="//cdn.shopify.com/s/files/1/0691/5403/t/128/assets/style.scss.css?12510731831507118242" rel="stylesheet" type="text/css" media="all" />

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->






<script id="__st">
//<![CDATA[
var __st={"a":6915403,"offset":-25200,"reqid":"9996b392-e63b-4051-97d2-c8a9c2feb081","pageurl":"themes.getbootstrap.com\/","u":"38a6b49a0bed","p":"home"};
//]]>
</script>



</script>
<script src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-668547562549a84f5dfa01ef82607987f85ecbe1c8301faf25059becfa208199.js" defer="defer"></script>
      <script type="text/javascript">

      window.ShopifyAnalytics = window.ShopifyAnalytics || {};
      window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
      window.ShopifyAnalytics.meta.currency = 'USD';
      var meta = {};
      for (var attr in meta) {
        window.ShopifyAnalytics.meta[attr] = meta[attr];
      }

      </script>

      <script type="text/javascript">
        window.ShopifyAnalytics.merchantGoogleAnalytics = function() {

        };
      </script>

      <script type="text/javascript" class="analytics">
        (window.gaDevIds=window.gaDevIds||[]).push('BwiEti');

        (function () {
          var customDocumentWrite = function(content) {
            var jquery = null;

            if (window.jQuery) {
              jquery = window.jQuery;
            } else if (window.Checkout && window.Checkout.$) {
              jquery = window.Checkout.$;
            }

            if (jquery) {
              jquery('body').append(content);
            }
          };

          var analytics = document.createElement('script');
          var loaded = false;
          var onload = function() {
            if (loaded) return;
            loaded = true;
            window.ShopifyAnalytics.lib = window.trekkie.noConflict();
            window.ShopifyAnalytics.lib.initialize(
              {"Trekkie":{"appName":"storefront","environment":"production","defaultAttributes":{"shopId":6915403}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.001},"Google Analytics":{"trackingId":"UA-67613229-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true}}
            );

            window.ShopifyAnalytics.lib.ready(function() {

      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });


              var originalDocumentWrite = document.write;
              document.write = customDocumentWrite;
              try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
              document.write = originalDocumentWrite;


        window.ShopifyAnalytics.lib.page(
          null,
          {"pageType":"home"}
        );


            });
          }
          analytics.onload = onload;
          analytics.onreadystatechange = function() {
            if (!/complete|loaded/.test(analytics.readyState)) return;
            onload();
          }
          analytics.async = true;
          analytics.src = 'https://cdn.shopify.com/s/javascripts/trekkie.storefront.min.js?v=2016.09.01.1';
          document.getElementsByTagName('head')[0].appendChild(analytics);

      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-91b4691a5a0a9b8881b8d482fa57139c6710eb703344a18c284e80917fc3ddbf.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

        })();
      </script>

<script src="//cdn.shopify.com/s/assets/storefront/express_buttons-27e21b014f9b4f87588786d33b0eab6bd26cad283f619714cb75c8acd0753c24.js" defer="defer" crossorigin="anonymous"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

<style type="text/css">

h1 {font-size: 32px; font-family: "Open Sans"}
h2 {font-size: 24px; font-family: "Open Sans"}
h3 {font-size: 20px; font-family: "Open Sans"}
h4 {font-size: 18px; font-family: "Open Sans" bold}
p  {font-size: 16px; font-family: "Open Sans"}

a:hover {color: #00B599;}

.singlewordcolor {
    color: #00B599;
}
.hero-homepage.hero {

    padding-bottom: 28px;

    background-color: transparent !important;
}


    .isolation {
        position: absolute;
        top:450px;
    }

    footer form {
       margin: 15px 0;
    }
    #contact i {
       margin: 10px 0 0 25px;
    }
    .medium-size-text {
       font-size: 20px;
    }
    .italic-text {
       font-style: italic;
    }
    .full {
       width: 100%;
    }
    .gap {
       height: 30px;
       width: 100%;
       clear: both;
       display: block;
    }
    .footer {
       background: #4A4A4A ;
       height: auto;
       padding-bottom: 30px;
       position: relative;
       width: 100%;
       border-bottom: 1px solid #CCCCCC ;
       border-top: 1px solid #DDDDDD ;
       text-align: left;
       padding: 1px 0;
    }
    .footer p {
       margin: 0;
    }
    .footer img {
       max-width: 100%;
    }
    .footer h3 {
       border-bottom: 1px solid #BAC1C8 ;
       color: #f3f3f3 ;
       font-size: 18px;
       font-weight: 600;
       line-height: 27px;
       padding: 40px 0 10px;
       text-transform: uppercase;
    }
    .footer ul {
       font-size: 13px;
       list-style-type: none;
       margin-left: 0;
       padding-left: 0;
       margin-top: 15px;
       color: #7F8C8D ;
    }
    .footer ul li a {
       padding: 0 0 5px 0;
       display: block;
    }
    .footer a {
       color: #f3f3f3
    }
    .supportLi h4 {
       font-size: 20px;
       font-weight: lighter;
       line-height: normal;
       margin-bottom: 0 !important;
       padding-bottom: 0;
    }
    .newsletter-box input#appendedInputButton {
       background: #FFFFFF ;
       display: inline-block;
       float: left;
       height: 30px;
       clear: both;
       width: 100%;
    }
    .newsletter-box .btn {
       border: medium none;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       -o-border-radius: 3px;
       -ms-border-radius: 3px;
       border-radius: 3px;
       display: inline-block;
       height: 40px;
       padding: 0;
       width: 100%;
       color: #fff;
    }
    .newsletter-box {
       overflow: hidden;
    }
    .bg-gray {
       background-image: -moz-linear-gradient(center bottom, #BBBBBB  0%, #F0F0F0 100%);
       box-shadow: 0 1px 0 #B4B3B3 ;
    }
    .social li {
       background: none repeat scroll 0 0 #B5B5B5 ;
       border: 2px solid #B5B5B5 ;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -o-border-radius: 50%;
       -ms-border-radius: 50%;
       border-radius: 50%;
       float: left;
       height: 36px;
       line-height: 36px;
       margin: 0 8px 0 0;
       padding: 0;
       text-align: center;
       width: 36px;
       transition: all 0.5s ease 0s;
       -moz-transition: all 0.5s ease 0s;
       -webkit-transition: all 0.5s ease 0s;
       -ms-transition: all 0.5s ease 0s;
       -o-transition: all 0.5s ease 0s;
    }
    .social li:hover {
       transform: scale(1.15) rotate(360deg);
       -webkit-transform: scale(1.1) rotate(360deg);
       -moz-transform: scale(1.1) rotate(360deg);
       -ms-transform: scale(1.1) rotate(360deg);
       -o-transform: scale(1.1) rotate(360deg);
    }
    .social li a {
       color: #EDEFF1 ;
    }
    .social li:hover {
       border: 2px solid #2c3e50 ;
       background: #2c3e50 ;
    }
    .social li a i {
       font-size: 16px;
       margin: 0 0 0 5px;
       color: #EDEFF1  !important;
    }
    .footer-bottom {
       background: #E3E3E3 ;
       border-top: 1px solid #DDDDDD ;
       padding-top: 10px;
       padding-bottom: 10px;
    }
    .footer-bottom p.pull-left {
       padding-top: 6px;
    }

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic);
* { margin: 0; }
body {
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
}
dl#simple-gallery {
  position: relative;
  background: #222;
  font-size: 0;
  padding: 3rem;
  padding-bottom: 8rem;
}
dl#simple-gallery dt{
  width: 12.5%;
  min-width: 50px;
  cursor: pointer;
}
dl#simple-gallery dt img {
  width: 100%;
  height: auto;
}
dl#simple-gallery dt:hover+dd, dl#simple-gallery dt:focus+dd {
  opacity:1;
}
dl#simple-gallery dd {
  position: absolute;
  top: 3rem;
  left: 22%;
  opacity: 0;
  transition: .7s opacity;
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  color: #fff;
  padding-left: 0;
  width: 40%;
}
dl#simple-gallery dd img{
  width: 100%;
  height: auto;
  box-shadow:0 0 8px rgba(0,0,0,0.3);
  display:block;
  margin-bottom: 1rem;
}

.img-greyed {
  opacity: 0.1;
}

@media (min-width: 768px) {
  .three-blob-header {
    height: 70px;
  }

  .three-blob-text {
    height: 180px;
  }
}

@media (min-width: 992px) {
  .three-blob-header {
    height: 50px;
  }

  .three-blob-text {
    height: 150px;
  }
}

</style>

<script type="text/javascript">
    $(document).ready(function(){
    updateImage();
})
$('.post_detail').mouseenter(function(){
    $(this).addClass('active');
    $('.post_detail').not($(this)).removeClass('active');
    updateImage();
});
function updateImage(){
    var activeImage = $('.post_detail.active').data('image');
    $('.photowrapper').css('background-image','url('+activeImage+')');
}
</script>


</head>

<body id="bootstrap-themes" class="template-index" >
  <div class="container-overflow-wrap">

  <div class="container">
    <%= render "shared/menu" %>



<div class="hero hero-homepage"  >
  <div class="image-background" style="position: absolute; z-index: 0;">
  <%= image_tag("drie_architecture.png", alt: 'drie.co', class: 'img-responsive img-greyed') %>
  </div>

  <h1 class="hero-header caption" style="margin-top: 100px; position: relative; z-index: 1;"><span class="singlewordcolor">Build, deploy</span> and <span class="singlewordcolor">scale</span> your software with AWS security best practices</h1>
  <h2 class="caption1" style="position: relative; z-index: 1;">Embrace digital transformation by moving to the cloud.</h2>
  <a class="btn caption2" href="/pricing.html" style="position: relative; z-index: 1;">View products</a>


</div>


  <div class="row homepage-grid p-t text-center">

    <div class="col-sm-4">
      <%= image_tag("36cybersecurity128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'padding: 10px 0;') %>
      <h5 class="three-blob-header"><strong>Isolation, encryption and key management</strong></h5>
      <p class="text-muted three-blob-text">We've used our experience building web application platforms for government and banks to design an AWS architecture that puts security first.</p>
      <p class="text-muted"><a href="http://docs.drie.co/docs/drie-platform-overview"><span class="singlewordcolor">Learn How ></span></a></p>
    </div>

    <div class="col-sm-4">
      <%= image_tag("19_mobile_apps_development_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'padding: 10px 0;') %>
      <h5 class="three-blob-header"><strong>Try deploying your apps for free</strong></h5>
      <p class="text-muted three-blob-text">Deploy an application from git today and get £100 free credit to try the platform. Find a small, fast and real project to get started on today whilst meeting AWS security best practices.</p>
      <p class="text-muted"><a href="https://dashboard.drie.co/"><span class="singlewordcolor">Deploy Now ></span></a></p>
    </div>

    <div class="col-sm-4">
      <%= image_tag("36_secure_data_folder_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'padding: 18px 0 10px 0;') %>
      <h5 class="three-blob-header"><strong>Avoid the pain of compliance and security regulations</strong></h5>
      <p class="text-muted three-blob-text" >At drie we are open about our architecture and processes to help you meet compliance and risk regulations like <a href="https://www.gov.uk/government/publications/cloud-service-security-principles/cloud-service-security-principles">CESG's Cloud Security Principles</a> or the upcoming <a href="https://ico.org.uk/for-organisations/data-protection-reform/overview-of-the-gdpr/">GDPR</a>.</p>
      <p class="text-muted"><a href="contact.html"><span class="singlewordcolor">Get in touch ></span></a></p>
    </div>

  </div>



<div class="hidden-xs">


  <div class="row homepage-grid p-t m-b-lg text-center">
    <div class="page-header">
        <h1 class="text-center singlewordcolor">Build a secure environment in less than 15 mins</h1>
    </div>
      <div class="col-sm-8">
        <%= image_tag("drie_architecture.png", alt: 'drie.co', class: 'img-responsive') %>
      </div>

      <div class="col-sm-4">
          <%= image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
          <h3><strong>We provide the AWS glue</strong></h3>
          <h4 class="m-b-md">We combine Amazon's EC2, Identity and Access Management (IAM), Key Management (KMS), Databases (RDS), Certificates, Load Balancing (ELB) and more to give you a secure envrionment to run your application in.</h4>
          <a class="btn btn-primary" target="_blank" href="">Play video</a>
      </div>

  </div>
</div>
</div>
</div>

  <%= render "sign_up_for_drie" %>

<div class="container-overflow-wrap">

<div class="container">


<div class="hidden-xs">

  <%= render "embrace_compliance_and_security_regulations" %>
  <%= render "who_uses_the_drie_security_platform" %>


</div>

</div> <!-- container ends here -->

  <%= render "contact_us_to_find_out_more1" %>

  <%= render "shared/footer" %>




  </div>

  <!-- General JavaScript -->
  <!-- jquery.js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

<!-- bootstrap.js -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>

<script>
  $('html').removeClass('no-js').addClass('js')
</script>


<script type="text/javascript">/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script></body>
</html>
