<%= render "shared/header" %>
<%= render "shared/menu" %>
<body>
    <div id="wrap">

        <%= render "hero" %>
        <%= render "drie_vs_them" %>
        <%= render "teams_on_drie" %>
        <%= render "dont_spend_months_designing" %>
        <%= render "isolation_encryption_and_identity_management_by_design" %>
        <%= render "try_deploying_your_apps_for_free" %>
        <%= render "when_you_type" %>
        <%= render "avoid_the_pain_of_compliance_and_security_regulations" %>
        <%= render "whos_using_the_platform" %>

    </div>
    <%= render "shared/footer" %>

</div>

<%= render "shared/hubspot" %>

</body>
</html>
