<%= render "shared/headerv2" %>

<body id="bootstrap-themes" class="template-index">
    <div class="container-overflow-wrap">

        <div class="container">
            <%= render "shared/menu" %>

            <div class="hero hero-homepage">
                <div class="image-background" style="position: absolute; z-index: 0;">
                    <%= image_tag("drie_architecture.png", alt: 'drie.co', class: 'img-responsive img-greyed') %>
                </div>

                <h1 class="hero-header caption" style="margin-top: 100px; position: relative; z-index: 1;">
                    <span class="singlewordcolor">Build, deploy</span>
                    and
                    <span class="singlewordcolor">scale</span>
                    your software with AWS security best practices</h1>
                <h2 class="caption1" style="position: relative; z-index: 1;">Embrace digital transformation by moving to the cloud.</h2>
                <a class="btn caption2" href="/pricing.html" style="position: relative; z-index: 1;">View products</a>

            </div>

            <div class="row homepage-grid p-t">

                <div class="col-sm-4">
                    <div class="text-center">
                    <%= image_tag("36cybersecurity128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'padding: 10px 0; height') %>
                  </div>
                  <h5 style="height: 50px;">
                      Isolation, encryption and key management
                    </h5>
                    <p class="text-muted" style="height: 150px;">We've used our experience building web application platforms for government and banks to design an AWS architecture that puts security first.</p>
                    <p class="text-muted">
                        <a href="http://docs.drie.co/docs/drie-platform-overview">
                            <span class="singlewordcolor">Learn How ></span>
                        </a>
                    </p>
                </div>

                <div class="col-sm-4">
                  <div class="text-center">
                    <%= image_tag("19_mobile_apps_development_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'padding: 10px 0;') %>
                  </div>
                  <h5 style="height: 50px;">
                        Try deploying your apps for free
                    </h5>
                    <p class="text-muted" style="height: 150px;">Deploy an application from git today and get £100 free credit to try the platform. Find a small, fast and real project to get started on today whilst meeting AWS security best practices.</p>
                    <p class="text-muted">
                        <a href="https://dashboard.drie.co/">
                            <span class="singlewordcolor">Deploy Now ></span>
                        </a>
                    </p>
                </div>

                <div class="col-sm-4">
                  <div class="text-center">
                    <%= image_tag("36_secure_data_folder_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'padding: 18px 0 10px 0;') %>
                  </div>
                  <h5 style="height: 50px;">
                        Avoid the pain of compliance and security regulations
                    </h5>
                    <p class="text-muted" style="height: 150px;">At drie we are open about our architecture and processes to help you meet compliance and risk regulations like
                        <a href="https://www.gov.uk/government/publications/cloud-service-security-principles/cloud-service-security-principles">CESG's Cloud Security Principles</a>
                        or the upcoming
                        <a href="https://ico.org.uk/for-organisations/data-protection-reform/overview-of-the-gdpr/">GDPR</a>.</p>
                    <p class="text-muted">
                        <a href="contact.html">
                            <span class="singlewordcolor">Get in touch ></span>
                        </a>
                    </p>
                </div>

            </div>

            <div class="hidden-xs" >

                <div class="row homepage-grid p-t m-b-lg">
                    <div class="page-header">
                        <h1 class="text-center singlewordcolor">Build a secure environment in less than 15 mins</h1>
                    </div>
                    <div class="col-sm-8">
                        <%= image_tag("drie_architecture.png", alt: 'drie.co', class: 'img-responsive') %>
                    </div>

                    <div class="col-sm-4">
                        <%= image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
                        <h3>
                            <strong>We provide the AWS glue</strong>
                        </h3>
                        <h5 class="m-b-md">We combine Amazon's EC2, Identity and Access Management (IAM), Key Management (KMS), Databases (RDS), Certificates, Load Balancing (ELB) and more to give you a secure envrionment to run your application in.</h5>
                        <a class="btn btn-primary" target="_blank" href="">Play video</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%= render "sign_up_for_drie" %>
    <%= render "languages" %>

    <div class="container-overflow-wrap">

        <div class="container">

            <div class="hidden-xs">

                <%= render "embrace_compliance_and_security_regulations" %>
                <%= render "who_uses_the_drie_security_platform" %>

            </div>

        </div>
        <!-- container ends here -->

        <%= render "contact_us_to_find_out_more1" %>
        <div class="container">

            <div class="hidden-xs">

                <%= render "drie_vs_them" %>

            </div>

        </div>

    </div>

    <%= render "shared/footer" %>
    <%= render "shared/extrabootstrapstuff" %>

</body>
</html>
