<%= render "shared/headerv2" %>

<body id="bootstrap-themes" class="template-index" >
  <div class="container-overflow-wrap">

  <div class="container">

    <%= render "shared/menu" %>


    <div class="row homepage-grid p-t text-center">
      <div class="page-header">
          <h1 class="text-center singlewordcolor">Meet the stellar team behind drie!</h1>
          <h3>Our team, your business</h3>
      </div>
    </div>

    <div class="row homepage-grid p-t text-center">
      <div class="col-sm-8 col-sm-offset-2">
        <%= image_tag("kalbir_card.png", alt: 'drie.co', class: 'img-responsive') %>
        <%= image_tag("ulrike_card.png", alt: 'drie.co', class: 'img-responsive') %>
        <%= image_tag("tom_card.png", alt: 'drie.co', class: 'img-responsive') %>
      </div>
    </div>

  </div>
>>>>>>> 41f51ce0372457e210dc07ea3cbf8a6b62c1d318

            .singlewordcolor {
                color: #00B599;
            }
            .hero-homepage.hero {

                padding-bottom: 28px;

                background-color: transparent !important;
            }

            .caption {
                position: absolute;
                left: 0;
                top: 105px;

            }

            .caption1 {
                position: absolute;
                left: 20%;
                top: 250px;

            }

            .caption2 {
                position: absolute;
                left: 45%;
                top: 300px;

            }

            .isolation {
                position: absolute;
                top: 450px;

            }

        </style>

        <link rel="stylesheet" media="all" href="//cdn.shopify.com/s/assets/storefront/additional-checkout-buttons-ae777fb5a35686e712f15ee06ea7d1bf240ffa3214125e4741ed905663cf5d32.css"/>

    </head>

    <body id="bootstrap-themes" class="template-index">
        <div class="container-overflow-wrap">

            <div class="container">

                <%= render "shared/menu" %>

                <div class="row homepage-grid p-t text-center">
                    <div class="page-header">
                        <h1 class="text-center singlewordcolor">Meet the stellar team behind drie!</h1>
                        <h3>Our team, your business</h3>
                    </div>
                </div>

                <div class="row  homepage-grid row-bordered p-t text-center">
                    <div class="col-sm-8 col-sm-offset-2">
                        <%= image_tag("kalbir_card.png", alt: 'drie.co', class: 'img-responsive') %>
                        <%= image_tag("ulrike_card.png", alt: 'drie.co', class: 'img-responsive') %>
                        <%= image_tag("tom_card.png", alt: 'drie.co', class: 'img-responsive') %>
                    </div>
                </div>

            </div>

            <%= render "contact_us_to_find_out_more" %>

            <%= render "shared/footer" %>

            <!-- General JavaScript -->
            <!-- jquery.js -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

            <!-- bootstrap.js -->
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>

            <script>
                $('html').removeClass('no-js').addClass('js')
            </script>

            <!-- Our main app.js -->
            <script src="//cdn.shopify.com/s/files/1/0691/5403/t/128/assets/app.js?12510731831507118242" type="text/javascript"></script>

            <!-- Async Script for Twitter Widgets -->
            <script>
                window.twttr = (function (d, s, id) {
                    var js,
                        fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);

                    t._e = [];
                    t.ready = function (f) {
                        t._e.push(f);
                    };

                    return t;
                }(document, "script", "twitter-wjs"));
            </script>

            <script type="text/javascript">
                /* <![CDATA[ */
                (function (d, s, a, i, j, r, l, m, t) {
                    try {
                        l = d.getElementsByTagName('a');
                        t = d.createElement('textarea');
                        for (i = 0; l.length - i; i++) {
                            try {
                                a = l[i].href;
                                s = a.indexOf('/cdn-cgi/l/email-protection');
                                m = a.length;
                                if (a && s > -1 && m > 28) {
                                    j = 28 + s;
                                    s = '';
                                    if (j < m) {
                                        r = '0x' + a.substr(j, 2) | 0;
                                        for (j += 2; j < m && a.charAt(j) != 'X'; j += 2)
                                            s += '%' + ('0' + ('0x' + a.substr(j, 2) ^ r).toString(16)).slice(-2);
                                        j++;
                                        s = decodeURIComponent(s) + a.substr(j, m - j)
                                    }
                                    t.innerHTML = s.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                                    l[i].href = 'mailto:' + t.value
                                }
                            } catch (e) {}
                        }
                    } catch (e) {}
                })(document);/* ]]> */
            </script>
        </body>
    </html>
