<%= render "shared/headerv2" %>
<body id="bootstrap-themes" class="template-index">
    <div class="container-overflow-wrap">

        <div class="container">

            <%= render "shared/menu" %>

            <div class="row homepage-grid p-t text-center">
                <div class="page-header">
                    <h1 class="text-center singlewordcolor">Meet the stellar team behind drie!</h1>
                    <h3>Our team, your business</h3>
                </div>
            </div>

            <!-- kalbir card -->
            <div class="row  homepage-grid row-bordered p-t text-center">
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="panel panel-floating" style="border-top: 0px;">
                    <div class="panel-body">
                      <div class="col-sm-6">
                        <%= image_tag("team_kalbir.jpg", alt: 'drie.co', class: 'img-responsive') %>
                      </div>
                      <div class="col-sm-6 text-left">
                        <h3>Kalbir Sohi</h3>
                        <h4><span class="singlewordcolor">Co-founder &amp; CEO</span></h4>
                        <p>Kalbir has spent the last 3 years leading teams building platform as a service and cloud brokering software for a large UK government department. Before that he was the strategy lead on an £80m digital transformation.</p>
                        <ul class="social">
                            <li> <a href="https://www.linkedin.com/kalbir"> <i class="fa fa-linkedin">   </i> </a> </li>
                            <li> <a href="https://twitter.com/proustian"> <i class="fa fa-twitter">   </i> </a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- ulrike card -->
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="panel panel-floating" style="border-top: 0px;">
                    <div class="panel-body">
                      <div class="col-sm-6">
                        <%= image_tag("team_ulrike-right.jpg", alt: 'drie.co', class: 'img-responsive') %>
                      </div>
                      <div class="col-sm-6 text-left">
                        <h3>Ulrike Eder</h3>
                        <h4><span class="singlewordcolor">Co-founder &amp; CCO</span></h4>
                        <p>Ulrike has over 12 years of B2B marketing experience, mainly in technology and across both products &amp; services. The breadth of Ulrike's experience spans markets worldwide including the UK, Germany, India, USA, China Singapore and Australia.</p>
                        <ul class="social">
                            <li> <a href="https://www.linkedin.com/in/ulrikeeder"> <i class="fa fa-linkedin">   </i> </a> </li>
                            <li> <a href="https://twitter.com/ulrike_eder"> <i class="fa fa-twitter">   </i> </a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- tom card -->
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="panel panel-floating" style="border-top: 0px;">
                    <div class="panel-body">
                      <div class="col-sm-6">
                        <%= image_tag("team_tom.jpg", alt: 'drie.co', class: 'img-responsive') %>
                      </div>
                      <div class="col-sm-6 text-left">
                        <h3>Tom van Neerijnen</h3>
                        <h4><span class="singlewordcolor">Co-founder &amp; CTO</span></h4>
                        <p class="text-muted">Tom has spent over 10 years as an infrastructure engineer, including building 2 bespoke platforms as a service systems; one for government and one for a major online games company.</p>
                        <ul class="social">
                            <li> <a href="https://www.linkedin.com/in/tommyvn"> <i class="fa fa-linkedin">   </i> </a> </li>
                            <li> <a href="https://twitter.com/DevRobot3"> <i class="fa fa-twitter">   </i> </a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

            </div>

        </div>
<div style="margin-top: 50px; margin-bottom: 50px;">
  <%= render "contact_us_to_find_out_more1" %>
</div>

        <%= render "shared/footer" %>
        <%= render "shared/extrabootstrapstuff" %>

    </body>
</html>
