<%= render "shared/headerv2" %>

<body id="bootstrap-themes" class="
template-index">
    <div class="container-overflow-wrap">

        <div class="container">

            <%= render "shared/menu" %>

            <div class="row homepage-grid p-t text-center">
                <div class="page-header">
                    <h1>
                        <span class="text-center singlewordcolor">Pay-as-you-go</span>
                        pricing without surprises</h1>
                    <h3>View our product plans and find the one that suits you or your business</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-2 m-b-lg text-center">
                    <div class="panel panel-default panel-floating">
                        <div class="panel-heading" style="background-color: #ffffff; border-color:#ffffff">
                            <%= image_tag("pricing-drie.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
                        </div>
                        <div class="panel-body">
                            <h1>
                                <span class="text-center singlewordcolor">drie</span>
                            </h1>
                            <p>Create an account &#8212; get</p>
                            <span style="display: block; font-size: 1.3em;">
                                <span class="text-center singlewordcolor">£100 free credit</span>
                            </span>
                        </div>
                        <div class="panel-action m-b-lg">
                            <a class="btn btn-lg" style="background-color: #00B599 ; border-color:#00B599; color: white" href="#drie-main">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-lg text-center hidden">
                    <div class="panel panel-default panel-floating">
                        <div class="panel-heading" style="background-color: #ffffff; border-color:#ffffff">
                            <%= image_tag("06_global_management.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
                        </div>
                        <div class="panel-body">
                            <h1>
                                <span class="text-center singlewordcolor">drie push</span>
                                beta</h1>
                            <p>Sign up for a</p>
                            <span style="display: block; font-size: 1.3em;">
                                <span class="text-center singlewordcolor">1 month free trial</span>
                            </span>
                        </div>
                        <div class="panel-action m-b-lg">
                            <a class="btn btn-lg" style="background-color: #49305b ; border-color:#49305b; color: white" href="#drie-push">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-lg text-center">
                    <div class="panel panel-default panel-floating">
                        <div class="panel-heading" style="background-color: #ffffff; border-color:#ffffff">
                            <%= image_tag("pricing-drie-consult.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
                        </div>
                        <div class="panel-body">
                            <h1>
                                <span class="text-center singlewordcolor">drie consult</span>
                            </h1>
                            <p>Undertake a</p>
                            <span style="display: block; font-size: 1.3em;">
                                <span class="text-center singlewordcolor">Custom security assessment</span>
                            </span>
                        </div>
                        <div class="panel-action m-b-lg">
                            <a class="btn btn-lg" style="background-color: #00B599 ; border-color:#00B599; color: white" href="#drie-consult">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-t text-center" style="border-top: 1px lightgrey solid;">
                <a name="drie-main"></a>
                <div class="col-sm-3 text-left">
                    <h3><%= image_tag("11_sitemap_navigation.png", alt: 'drie.co', class: 'homepage-grid-icon') %></h3>
                    <h1>
                        <span class="text-center singlewordcolor">drie</span>
                    </h1>
                </div>
                <div class="col-sm-3 text-left">
                    <h3>VM 1VPCU
                        <br/>
                        1GB RAM, 8GB SSD DISK</h3>
                    <span class="singlewordcolor" style="display: block; font-size: 1.3em;">+£100 free credit</span>
                    <h2>£0.11 per hour</h2>
                    <a class="btn btn-lg" style="background-color: #00B599 ; border-color:#00B599; color: white" href="https://dashboard.drie.co/signup">Sign Up For Free</a>
                </div>
                <div class="col-sm-6 text-left">
                    <h3>drie micro plan</h3>
                    <p>Your application is deployed onto firewalled virtual machines. Each application gets its own load balancer and certificates ensuring end-to-end TLS traffic. Scale up to as many instances as you need.</p>
                    <ul class="list-unstyled text-left">
                        <li>
                            <span class="tick-mark">&#10004;</span>
                            VM isolation between apps</li>
                        <li>
                            <span class="tick-mark">&#10004;</span>
                            Regular automated VM patching</li>
                        <li>
                            <span class="tick-mark">&#10004;</span>
                            End to end TLS encryption as default</li>
                        <li>
                            <span class="tick-mark">&#10004;</span>
                            Encryption of config and code using Amazon Key Management Service</li>
                        <li>
                            <span class="tick-mark">&#10004;</span>
                            Simple command line interface for deploying apps</li>
                        <li>
                            <span class="tick-mark">&#10004;</span>
                            Simple API integration</li>
                    </ul>
                </div>

            </div>

            <div class="row p-t text-left">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <h3><%= image_tag("35_secured_backup.png", alt: 'drie.co', class: 'homepage-grid-icon') %></h3>
                                <h3>Add a database to your application.</h3>
                            </div>
                            <div class="col-sm-6">
                                <h3>Amazon Aurora MySQL compatible database</h3>
                                <p>2CPUs, 15GB RAM, 1000GB Disk</p>
                                <h2>£0.90p per hour
                                    <br/>
                                    + £0.05 per extra GB per Month</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-t text-left" style="background-color: #f2f2f2; display: none">
        <div class="container-overflow-wrap">

            <div class="container">
                <a name="drie-push"></a>
                <div class="col-sm-3">
                    <h3><%= image_tag("06_global_management.png", alt: 'drie.co', class: 'homepage-grid-icon') %></h3>
                    <h1>
                        <span class="text-center singlewordcolor">drie push</span>
                        <br/>
                        <span style="color:#49305b;">beta</span>
                    </h1>
                </div>
                <div class="col-sm-3">
                    <h3>Sign up to get</h3>
                    <span class="singlewordcolor" style="display: block; font-size: 1.3em;">1 month free trial</span>
                    <h2>£3 per month</h2>
                    <a class="btn btn-lg" style="background-color: #49305b; border-color:#49305b; color: white" href="https://push.drie.co">Sign Up For Free</a>
                </div>
                <div class="col-sm-6">
                    <h3>drie push</h3>
                    <p>A new way of developing apps. Stay in your workflow by deploying from git. Make every branch a website and share it with people in a few seconds. All in an isolated VM running only when your application receives a request.</p>
                    <ul class="list-unstyled ">
                        <li>
                            <span class="tick-mark">&#10004;</span>
                            Deploy straight from git</li>
                        <li>
                            <span class="tick-mark">&#10004;</span>
                            Build websites from every branch</li>
                        <li>
                            <span class="tick-mark">&#10004;</span>
                            Run your app on an isolated VM in seconds</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-overflow-wrap" style="margin-bottom: 50px">

        <div class="container">
          <a name="drie-consult"></a>
            <div class="row p-t text-left">
                <div class="col-sm-8">

                    <h3><%= image_tag("06_global_management_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'height: 75px;') %></h3>
                    <h1>
                        <span class="text-center singlewordcolor">drie consult</span>
                    </h1>
                    <h3>custom security assessment</h3>
                    <p>We provide our customers with the ability to understand their existing DevOps security holes and provide a prioritised action plan of how to fix them. We work with you to understand your threat landscape and identify key risks to your business by
                        asking you what you really care about.</p>
                    <p>The areas we assess include:</p>
                    <div class="col-sm-6">
                        <ul class="list-unstyled text-left">
                            <li>
                                <span class="tick-mark">&#10004;</span>
                                Data in transit</li>
                            <li>
                                <span class="tick-mark">&#10004;</span>
                                Incident management</li>
                            <li>
                                <span class="tick-mark">&#10004;</span>
                                Code building and deployment</li>
                            <li>
                                <span class="tick-mark">&#10004;</span>
                                Availability and disaster recovery</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled text-left">
                            <li>
                                <span class="tick-mark">&#10004;</span>
                                Encryption</li>
                            <li>
                                <span class="tick-mark">&#10004;</span>
                                Authentication</li>
                            <li>
                                <span class="tick-mark">&#10004;</span>
                                Firewalls</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 style="height:75px"></h3>
                    <h1>£6,000</h1>
                    <h2>4 days</h2>
                    <span class="singlewordcolor" style="display: block; font-size: 1.3em;">+ Extensive report</span>
                    <h3></h3>
                    <a class="btn btn-lg" style="background-color: #00B599 ; border-color:#00B599; color: white" href="/contact.html">Contact us</a>
                    <h3><%= image_tag("pricing-icons-watermark-consult.png", alt: 'drie.co', class: 'homepage-grid-icon') %></h3>
                </div>
            </div>

        </div>
        <!-- container ends here -->

    </div>
    <!-- container overflow wrap ends here -->



    <%= render "shared/footer" %>

    <%= render "shared/extrabootstrapstuff" %>
</body>
</html>
