<!doctype html>
<html>
<head>

  <!-- EXPERIMENT A2 tracking code -->
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='108454052-4',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->

  <!-- General Head Content -->
  <!-- meta tags -->
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

<meta name="description" content="Official Bootstrap Themes and templates from the creators of Bootstrap including dashboards, admins, and marketing sites." />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-site-verification" content="4--Yv8-XVyrl4hAM2ceeBXt8H8iiI_3Ms3vDSIV5xN0" />


<!-- title tag-->
<title>
  Bootstrap Themes
</title>

<!-- search engine -->
<link rel="canonical" href="http://themes.getbootstrap.com/" />

<!-- open graph -->


  <meta property="og:title" content="Bootstrap Themes" />
  <meta property="og:type" content="website" />



<meta property="og:description" content="Official Bootstrap Themes and templates from the creators of Bootstrap including dashboards, admins, and marketing sites." />

<meta property="og:url" content="http://themes.getbootstrap.com/" />
<meta property="og:site_name" content="Bootstrap Themes" />




<!-- styles -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="//cdn.shopify.com/s/files/1/0691/5403/t/128/assets/style.scss.css?12510731831507118242" rel="stylesheet" type="text/css" media="all" />

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->


  <!-- External content for head -->


<script src="//cdn.shopify.com/s/assets/storefront/express_buttons-27e21b014f9b4f87588786d33b0eab6bd26cad283f619714cb75c8acd0753c24.js" defer="defer" crossorigin="anonymous"></script>

<style type="text/css">

h1 {font-size: 32px; font-family: "Open Sans"}
h2 {font-size: 24px; font-family: "Open Sans"}
h3 {font-size: 20px; font-family: "Open Sans"}
h4 {font-size: 18px; font-family: "Open Sans" bold}
p  {font-size: 16px; font-family: "Open Sans"}

.singlewordcolor {
    color: #00B599
}
.hero-homepage.hero {

    padding-bottom: 28px;

    background-color: transparent !important;
}

.caption {
        position: absolute;
        left:0; top:105px;

    }

.caption1 {
        position: absolute;
        left:20%; top:250px;

    }

.caption2 {
        position: absolute;
        left:45%; top:300px;

    }

.isolation {
        position: absolute;
        top:450px;

    }

.tick-mark {
      padding: 0 15px;
    }



</style>


<link rel="stylesheet" media="all" href="//cdn.shopify.com/s/assets/storefront/additional-checkout-buttons-ae777fb5a35686e712f15ee06ea7d1bf240ffa3214125e4741ed905663cf5d32.css" />

</head>

<body id="bootstrap-themes" class="swag-line template-index" >
  <div class="container-overflow-wrap">

  <div class="container">

    <%= render "shared/menu" %>


    <div class="row homepage-grid p-t text-center">
      <div class="page-header">
          <h1><span class="text-center singlewordcolor">Pay-as-you-go</span> pricing without surprises</h1>
          <h3>View our product plans and find the one that suits you or your business</h3>
      </div>
    </div>




    <div class="row">
      <div class="col-md-4 m-b-lg text-center">
        <div class="panel panel-default panel-floating">
          <div class="panel-heading">
            <%= image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
          </div>
          <div class="panel-body">
            <h1><span class="text-center singlewordcolor">drie</span></h1>
            <p>Create an account &#8212; get</p>
            <span style="display: block; font-size: 1.3em;"><span class="text-center singlewordcolor">£100 free credit</span></span>
          </div>
          <div class="panel-action m-b-lg">
            <a class="btn btn-lg" style="background-color: #00B599 ; border-color:#00B599; color: white" href="#drie-main">Learn more</a></div>
        </div>
      </div>
      <div class="col-md-4 m-b-lg text-center">
        <div class="panel panel-default panel-floating">
          <div class="panel-heading">
            <%= image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
          </div>
          <div class="panel-body">
            <h1><span class="text-center singlewordcolor">drie push</span> beta</h1>
            <p>Sign up for a</p>
            <span style="display: block; font-size: 1.3em;"><span class="text-center singlewordcolor">1 month free trial</span></span>
          </div>
          <div class="panel-action m-b-lg">
            <a class="btn btn-lg" style="background-color: #49305b ; border-color:#49305b; color: white" href="https://push.drie.co">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 m-b-lg text-center">
        <div class="panel panel-default panel-floating">
          <div class="panel-heading">
            <%= image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
          </div>
          <div class="panel-body">
            <h1><span class="text-center singlewordcolor">drie consult</span></h1>
            <p>Undertake a</p>
            <span style="display: block; font-size: 1.3em;"><span class="text-center singlewordcolor">Custom security assessment</span></span>
          </div>
          <div class="panel-action m-b-lg">
            <a class="btn btn-lg" style="background-color: #00B599 ; border-color:#00B599; color: white" href="">Contact drie</a>
          </div>
        </div>
      </div>
    </div>

  <div class="row row-padded row-bordered p-t text-center">
    <a name="drie-main"></a>
    <div class="col-sm-2">
      <h3><%= image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'height: 75px;') %></h3>
      <h1><span class="text-center singlewordcolor">drie</span></h1>
    </div>
    <div class="col-sm-4 text-left">
      <h3>VM 1VPCU <br /> 1GB RAM, 8GB SSD DISK</h3>
      <span class="singlewordcolor" style="display: block; font-size: 1.3em;">+£100 free credit</span>
      <h2>£0.11 per hour</h2>
      <a class="btn btn-lg" style="background-color: #00B599 ; border-color:#00B599; color: white" href="https://dashboard.drie.co">Sign up</a>
    </div>
    <div class="col-sm-6 text-left">
      <h3>drie micro plan</h3>
      <p>Your application is deployed onto firewalled virtual machines. Each application gets its own load balancer and certificates ensuring end-to-end TLS traffic. Scale up to as many instances as you need.</p>
      <ul class="list-unstyled text-left">
        <li><span class="tick-mark">&#10004;</span> VM isolation between apps</li>
        <li><span class="tick-mark">&#10004;</span> Regular automated VM patching</li>
        <li><span class="tick-mark">&#10004;</span> End to end TLS encryption as default</li>
        <li><span class="tick-mark">&#10004;</span> Encryption of config and code using Amazon Key Management Service</li>
        <li><span class="tick-mark">&#10004;</span> Simple command line interface for deploying apps</li>
        <li><span class="tick-mark">&#10004;</span> Simple API integration</li>
      </ul>
    </div>

  </div>

  <div class="row row-padded row-bordered p-t text-left">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-6">
            <h3><%= image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'height: 75px;') %></h3>
            <h3>Add a database to your application.</h3>
          </div>
          <div class="col-sm-6">
            <h3>Amazon Aurora MySQL compatible database</h3>
            <p>2CPUs, 15GB RAM, 1000GB Disk</p>
            <h2>£0.90p per hour <br /> + £0.05 per extra GB per Month</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-padded row-bordered p-t text-center">
    <a name="drie-push"></a>
    <div class="col-sm-2">
      <h3><%= image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: 'height: 75px;') %></h3>
      <h1><span class="text-center singlewordcolor">drie push</span> <span style="color:#49305b;">beta</span></h1>
    </div>
    <div class="col-sm-4 text-left">
      <h3>Sign up to get</h3>
      <span class="singlewordcolor" style="display: block; font-size: 1.3em;">1 month free trial</span>
      <h2>£3 per month</h2>
      <a class="btn btn-lg" style="background-color: #49305b; border-color:#49305b; color: white" href="https://push.drie.co">Sign up</a>
    </div>
    <div class="col-sm-6 text-left">
      <h3>drie push</h3>
      <p>A new way of developing apps. Stay in your workflow by deploying from git. Make every branch a website and share it with people in a few seconds. All in an isolated VM running only when your application receives a request.</p>
      <ul class="list-unstyled ">
        <li><span class="tick-mark">&#10004;</span> Deploy straight from git</li>
        <li><span class="tick-mark">&#10004;</span> Build websites from every branch</li>
        <li><span class="tick-mark">&#10004;</span> Run your app on an isolated VM in seconds</li>
      </ul>
    </div>

  </div>

  <div class="row row-padded row-bordered p-t text-center">
    <div class="col-sm-8">
      <%= image_tag("36_online_privacy_128.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
      <h1><span class="text-center singlewordcolor">drie consult</span></h1>
      <h3>Custom security assessment</h3>
      <p>We provide our customers with the ability to understand their existing DevOps security holes and provide a prioritised action plan of how to fix them. We will work with you to understand your threat landscape and identify key risks to your business by asking you what you really care about.</p>
      <p>The areas we will assess include:</p>
      <div class="col-sm-6">
        <ul class="list-unstyled text-left">
          <li><span class="tick-mark">&#10004;</span> Data in transit</li>
          <li><span class="tick-mark">&#10004;</span> Incident management</li>
          <li><span class="tick-mark">&#10004;</span> Code building and deployment</li>
          <li><span class="tick-mark">&#10004;</span> Availability and disaster recovery</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="list-unstyled text-left">
          <li><span class="tick-mark">&#10004;</span> Encryption</li>
          <li><span class="tick-mark">&#10004;</span> Authentication</li>
          <li><span class="tick-mark">&#10004;</span> Firewalls</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <h1>£6,000</h1>
      <h2>4 days</h2>
      <span style="display: block; font-size: 1.3em;">+Extensive report</span>
    </div>
  </div>



</div><!-- container ends here -->

</div><!-- container overflow wrap ends here -->

  <%= render "contact_us_to_find_out_more" %>

  <%= render "shared/footer" %>


  <!-- General JavaScript -->
  <!-- jquery.js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

<!-- bootstrap.js -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>

<script>
  $('html').removeClass('no-js').addClass('js')
</script>

<!-- Our main app.js -->
<script src="//cdn.shopify.com/s/files/1/0691/5403/t/128/assets/app.js?12510731831507118242" type="text/javascript"></script>

<!-- Async Script for Twitter Widgets -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>


<script type="text/javascript">/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script></body>
</html>
