<%= render "shared/header" %>
<%= render "shared/menu" %>
<body>
    <div id="wrap">

        <%= render "hero" %>
        <%= render "see_for_yourself_how_quick_drie_really_is" %>
        <%= render "create_a_drie_account_today" %>
        <%= render "try_deploying_your_apps" %>
        <%= render "embrace_compliance_and_security_regulations" %>
        <%= render "who_uses_the_drie_security_platform" %>
        <%= render "contact_us_to_find_out_more" %>
        <%= render "drie_value_comparisons" %>

    </div>
    <%= render "shared/footer" %>

</div>

<%= render "shared/hubspot" %>

</body>
</html>
